html,body {
  margin:0;
  padding:0;
  width:100%;
   height:100%;
}
#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #FC61D8; 
  --gradient-color-2: #42EFFA; 
  --gradient-color-3: #AD66FF;  
  --gradient-color-4: #27FDD7;
}